<h1>Portfolio Items</h1>
<%# %faz %= mostra %>

<%#<a href="portfolios/new">Create new Item</a>%>

<%= link_to "Create new Item", new_portfolio_url %>

<% @portfolio_items.each do |portfolio_item| %>
  <p><%= portfolio_item.title %></p>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <%# image_tag é um method para transformar a string em imagem, aqui temos show image unless its null para bão criar erros %>
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?  %>
  <%#<a href="portfolios/<%= portfolio_item.id %\>/edit">Edit</a>%>
  <%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %>

<% end %>